<% if article.favorited_by?(session[:session_id]) %>
	<%# binding.pry %>
	<%= link_to article_favorites_path(article_id: article.id), method: :delete, remote: true do %>
		<div class="share_archive"></div>
	<% end %>
	<p class="index_p"><%= article.favorites.count %> 杯</p>
<% else %>
	<%= link_to article_favorites_path(article_id: article.id), method: :post, remote: true do %>
		<div class="share_archive_fav"></div>
	<% end %>
	<% if article.favorites %>
		<p class="index_p"><%= article.favorites.count %> 杯 </p>
	<% else %>
		<p class="index_p">0 杯 </p>
	<% end %>
<% end %>