<h1>Articles#top</h1>
<p>Find me in app/views/articles/top.html.erb</p>


<!--  ボタン -->


<%= form_tag :action => 'answer' %>

<%= tag :input, { "type" => "submit", "name" => "send_action", "value" => ('save') } %>




