/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require animate
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body,html{
	height: 100%;
	background-color: #FFCC33;
}

h1,h2,h3,h4,h5,h6,body {
	line-height: 1.77;
	font-size: 26px;
	color: #4a4a4a;
	font-family: sans-serif;
	margin:  0;
	padding: 0;
}
p{
	font-size: 22px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


header {
	margin-bottom: 50px;
	// height: 40px;
	min-width: 960px;
}

header h1 {
	text-align: center;
	line-height: 50px;
	font-size: 70px;
	color: black;
	margin-top: 80px;
}

header hr {
	border-color: black;
	border-width:1px 0 0 0;
}

.contents_index {
	height:1142px;
}

.contents_answer {
	height:1300px;
}

.contents_archive {
	height:1617px;
}

.contents_detail {
	height: 905px;
}
.form_field{
	height: 20px;
	font-size: 20px;
}

.page {
    background-color: white;
    padding: 10px 105px;
    width: 1000px;
    /*height: 90%!important;*/
    margin: 0 auto;
    margin-bottom: 200px !important;
}

h2 {
	text-align: center;
	font-size: 40px;
	background-color: white;
	font-family: sans-serif;
	// line-height: 0px;
}

.head_text {
	width: 100%;
	margin: 0 0 30px;
}

.head_text h2 p {
	text-align: center;
}

.image  {
	height: 270px;
	padding-top: 260px;
	background: url("jiro.gif") 0 0 no-repeat;
	background-size: 500px 370px;
	background-repeat: no-repeat;
	background-position: 50% 40%;
	margin-top: 30px;

}

.result {
	text-align: center;
}

textarea {
	width: 600px;
	height: 250px;
}

.timeline {
	background-color:#3333FF;
	// height: auto;
	margin: 0 auto;
	margin-bottom: 100px!important;
	border: 15px solid #000;
}

.timeline_detail {
    background-color:#3333FF;
	margin: 0 auto;
	border: 15px solid #000;
}

.post {
	font-size: 16px;
	margin:30px auto;
	width: 700px;
	border: 3px dashed #000;
	background-color: white;
}

.copype_text {
	font-size: 16px !important;
	background: white;
}

.post_detail {
	margin:26px auto;
	width: 700px;
	padding-bottom: 30px;
	border: 3px dashed #000;
	background-color: white;
}

.text p {
	font-size: 22px;
	font-family: sans-serif;
	text-align: center;
	background-color: #FFCC33;
	margin-top: 30px;
}

.text p.success {
	background-color: white;
	color: gray;
	font-size: 20px;
	margin: 20px 0;
}

.blank {
	// width: 960px;
	height:50px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 70px;
}

.blank p {
	font-style: italic;
	text-align: right;
	color: gray;
    font-family: sans-serif;
}


.button li {
    list-style: none;
}

.menu li {
	font-size:30px;
	background-color: #FFCC33;
	border:5px solid #000;
	font-family: sans-serif;
}

.button_archive {
	margin-top: 50px;
}

.archive {
	float: left;
}

.generator {
	float: right;
}

.regenerator {
	float: right;
}

.menu {
	padding: 0 100px;
	text-align: center;
}
.answer_menu {
    padding-bottom: 30px;
    margin-top: 20px;
}

.regenerator_2 {
	display: inline;
	text-align: center;
}

.share {
	height: 150px;
	background-image: url("img_kanin_kora.png");
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.favo_img {
	display: inline-block;
	width: 100px;
	height: 70px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.share_archive {
	background-image: url("img_kanin_kora.png");
}
.share_archive_fav {
	background-image: url("img_syokuzen_kora.png");
}

a {
	color: black;
	text-decoration: none;
}

footer {
	bottom: 0;
	width: 100%;
	height: 80px;
	position: fixed;
}

footer hr {
	border-color: black;
	border-width:1px 0 0 0;
}

.top {
	text-align: center;

}





/*---tab-------*/

.tabmenu li {
	display: inline-block;
	// width: 120px;
	padding: 10px 10px 5px;
	cursor: pointer;
	background-color: #4a4a4a;
	border-top-right-radius: 10px;
	font-size: 14px;
	color: #fff;
	text-align: center;
}

.tabmenu li .selected {
	background-color: #fff;
	color: #AECD6A;
}

.tab{
	background-color: #fff;
	/*height: 360px;*/
	padding: 20px;
}

.tab .right {
	display: none;
}

.index_p {
	width: 120px;
	font-size: 14px;
	display: inline;
}


.banner {
	width: 600px;
	height: 160px;
	background-repeat: no-repeat;
	background-image: url("banner.PNG");
	background-size: contain;
	margin: 0 auto;
	/*background-position:center;*/
}

/* ここからデモページ用のコード */
body {
 width: 100%;
 padding: 0;
}
/* ここまでデモページ用のコード */
 
#modal-content {
 width: 50%;
 margin: 0;
 padding: 10px 20px;
 border: 2px solid #aaa;
 background: #fff;
 position: fixed;
 display: none;
 z-index: 999;
}
 
#modal-content-innar{
 margin:0 auto;
 width:80%;
}
  
#modal-overlay {
 z-index: 1;
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 120%;
 background-color: rgba( 0,0,0, 0.75 );
}
 
.button-link {
 color: #00f;
 text-decoration: underline;
}
 
.button-link:hover {
 cursor: pointer;
 color: #f00;
}



/*kaminari*/
/*bootstrapの初期値を打ち消すのにimportant多くなってしまった*/
.pagination {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100px;
 }
/*active部分の調整*/
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 0;
}
/*active文字背景色*/
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    color: #FFCC33!important;
    background-color: black!important;
}
/*文字色*/
.pagination > li > a {
    color: black!important;
    background-color: #FFCC33;
/*    border-color: #FFCC33!important;
*/}
/*ホバー*/
.pagination a:hover {
	background-color: black!important;
	color: #FFCC33!important;
}
/*ボーダー調整*/
.pagination > li > a, .pagination > li > span {
    margin-left: 0;
    border-bottom-left-radius: 0px!important; 
    border-top-left-radius: 0px!important; 
    border-bottom-right-radius: 0px!important; 
    border-top-right-radius: 0px!important;
    border-top: 4px solid black!important;
    border-bottom: 4px solid black!important;
    border-right: 2px solid black!important;
    border-left: 2px solid black!important;

}
.pagination > li:first-child > a, .pagination > li > span {
    border-left: 4px solid black!important;
}
.pagination > li:last-child > a, .pagination > li > span {
    border-right: 4px solid black!important;
}



@media screen and (max-width: 768px)  { 
p {
	font-size: 34px !important;
}
.contents_detail {
	max-height: 700px;
}
.text p {
	margin: 0 0 100px 0;
	padding: 25px;
}
.timeline {
	margin: 100px 0!important;
}
.menu {
	padding-bottom: 150px;
}
.menu li {
	padding: 10px 20px;
}
.image {
	height: 450px;
    padding-top: 0;
    background-size: 700px 600px;
    margin: 0 0 30px 0;
}
.form-group {
    margin-top: 20px;
}
.form-field {
    width: 550px;
    margin: 0 auto;
}
.page {
	margin-top: 100px !important;
}
.blank p {
	font-size: 32px  !important;
}
.copype_text{
	padding-top: 50px;
	font-size: 30px !important;
}
.share {
	height: 100px;
    margin-bottom: 50px;
}
.submit_btn {
	margin: 10px 20px;
    padding: 10px 15px;
}

ul, ol {
    margin-top: 50px;
}
.post_detail {
	width: 550px;
    padding: 30px 20px;
}
}

// @media screen and (min-width:768px) and ( max-width:1024px) {
//     /*　画面サイズが768pxから1024pxまではここを読み込む　*/

// }
// @media screen and (min-width:1024px) {
//     /*　画面サイズが1024pxからはここを読み込む　*/
 
// }
