<!DOCTYPE html>
<html>
<head>
  <title>JirokkasonRails</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=0.5,user-scalable=yes,initial-scale=1.0" />
</head>
  <body>
    <!-- /header -->
    <header>
      <h1 class="wow wobble">ジェネ二郎</h1>
      <hr>
    </header>
    <%= yield %>
    <footer>
      <div class="banner"></div>
    </footer>
    <script>
      new WOW().init();
    </script>
  </body>
</html>